---
import Layout from '../layouts/Layout.astro'
import Picture from '../components/Picture.astro';

import { getSanityData } from '../lib/sanity';
import { gallery as galleryQuery } from '../lib/queries';
import { removeMultiSlash } from '../lib/utils';
import { t } from '../lib/translations';

export async function getStaticPaths() {
  const gallery = await getSanityData({query: galleryQuery});

  return gallery.map(page => {
    let { slug: { current: slug } } = page.meta;
    slug = slug === "/" ? undefined : removeMultiSlash(slug, {'removeTrailing':true});
    return {
      params: {
        gallerySlug: slug,
      },
      props: {page}
    }
  });
};

const {page} = Astro.props;

const lang = page.__i18n_lang
const rootUrl = page.meta.slug.current;
---

<Layout title={page.meta.title} lang={lang}>
  <ul class="grid grid--3-columns grid--gap-m grid--mobile-no-gap center hover-list">
    {page.images.map(item => (
      <li class="hover-list__target">
        <a
          title={t('showImage', lang, 'capitalize')}
          href={
            removeMultiSlash(`${rootUrl}/${item.image.asset.assetId}`)
          }
          id={item.image.asset.assetId}
        >
          <Picture
            class="rounded--desktop-only"
            aspectDesktop="1:1"
            aspectMobile="1:1"
            image={item.image}
          ></Picture>
        </a>
      </li>
    ))}
  </ul>
  <details>
    <summary>data</summary>
    <pre>{JSON.stringify(page, null, 2)}</pre>
  </details>
</Layout>
