---
import Layout from '../layouts/Layout.astro'
import Icon from '../components/Icon.astro';

import { getSanityData } from '../lib/sanity';
import { gallery as galleryQuery } from '../lib/queries';
import { removeMultiSlash } from '../lib/utils';

import Image from "../components/Image.astro";
import { t } from '../lib/translations';

export async function getStaticPaths() {
  const allGalleryPages = await getSanityData({query: galleryQuery});

  return allGalleryPages.map(gallery => {
    return gallery.images.map((page, index) => {
      const previous = gallery.images[index-1];
      const next = gallery.images[index+1];
      let { slug: { current: slug } } = gallery.meta;
      slug = slug + '/' + page.image.asset.assetId;
      slug = slug === "/" ? undefined : removeMultiSlash(slug);
      return {
        params: {
          gallerySubSlug: slug,
        },
        props: {
          gallery,
          next,
          page,
          previous,
        }
      }
    });
  });
};

const {
  gallery,
  next,
  page,
  previous,
} = Astro.props;

const lang = gallery.__i18n_lang;

const rootUrl = gallery.meta.slug.current;
const rootUrlWithHash = `${rootUrl}#${page.image.asset.assetId}`;
const previousUrl = previous
  && removeMultiSlash(`${rootUrl}/${previous.image.asset.assetId}`, {keepTrailing: true});
const nextUrl = next
  && removeMultiSlash(`${rootUrl}/${next.image.asset.assetId}`, {keepTrailing: true});

---

<Layout title={gallery.meta.title} lang={lang} nonav="true">
  <div class="pin"
    data-image-id={page.image.asset.assetId}
    data-previous-url={previousUrl}
    data-next-url={nextUrl}
    data-close-url={rootUrl}
    >
    <div class="controls">
      <a
        class="button button--light button--rounded button--outlined back"
        title={t('backToImageOverview', lang, 'capitalize')}
        href={rootUrlWithHash}
        data-root-url={rootUrl}>
        <Icon name="x"></Icon>
      </a>
      <div class="previous">
      { previousUrl &&
        <a
          class="button button--light button--rounded"
          href={previousUrl}
          title={t('previousImage', lang, 'capitalize')}>
          <Icon class="flip" name="chevron"></Icon>
        </a> }
      </div>
      <div class="next">
      { nextUrl &&
        <a
          class="button button--light button--rounded"
          href={nextUrl}
          title={t('nextImage', lang, 'capitalize')}>
          <Icon name="chevron"></Icon>
        </a> }
      </div>
    </div>
  </div>
  <Image
    class="max-image"
    image={page.image}
    sizes="100vw"
  ></Image>
</Layout>

<style lang="scss" is:global>
  .controls {
    height: 100%;
    pointer-events: none;
    position: relative;

    a {
      position: relative;
      pointer-events: initial;
      margin: var(--space-s);
    }

    .previous,
    .next {
      align-items: center;
      bottom: 0;
      display: flex;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .back {
      float: right;
    }
    
    .previous {
      left: 0;
    }

    .next {
      right: 0;
    }
  }

  .max-image {
    height: 100vh;
    height: 100svh;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
</style>

<script>
  const dataNode = document.querySelector('[data-image-id]');
  const assetId = dataNode.dataset.imageId;
  localStorage.setItem('assetId', assetId);

  const historyCount = window.localStorage.getItem('historyCount');

  const lastUrl = localStorage.getItem('lastUrl');
  const currentUrl = window.location.pathname;

  const nextUrl = dataNode.dataset.nextUrl;
  const previousUrl = dataNode.dataset.previousUrl;
  const closeUrl = dataNode.dataset.closeUrl;

  localStorage.setItem('lastUrl', currentUrl);
  console.log({lastUrl, currentUrl, historyCount, nextUrl, previousUrl, closeUrl});

  if (historyCount === null) {
    localStorage.setItem('historyCount', '2');
  } else if(lastUrl !== currentUrl) {
    let numHistoryCount = Number(historyCount);
    numHistoryCount++;
    window.localStorage.setItem('historyCount', JSON.stringify(numHistoryCount));
  }

  document.addEventListener('keydown', event => {
    switch (event.key) {
      case 'ArrowRight':
        nextUrl !== undefined && (window.location.href = nextUrl);
        break;
      case 'ArrowLeft':
        previousUrl !== undefined && (window.location.href = previousUrl);
        break;
      default:
        break;
    }
  })
</script>
