---
import Layout from '../layouts/Layout.astro'

import { getSanityData } from '../lib/sanity';
import { modularPages } from '../lib/queries';
import { removeMultiSlash } from '../lib/utils';

import InternalCollection from '../components/InternalCollection.astro';
import ProductCategory from '../components/ProductCategory.astro';
import RichText from '../components/RichTextSection.astro';
import SpForm from '../components/webcomponents/SpForm.astro';
import Section from '../components/Section.astro';
import VideoHero from '../components/VideoHero.astro';

const Components = {
  internalCollection: InternalCollection,
  productCategory: ProductCategory,
  richtext: RichText,
  form: SpForm,
  section: Section,
  videoHero: VideoHero,
}

export async function getStaticPaths() {
  const allModularPages = await getSanityData({query: modularPages});

  return allModularPages.map(page => {
    let { slug: { current: slug } } = page.meta;
    slug = slug === "/" ? undefined : removeMultiSlash(slug, {'removeTrailing': true});
    return {
      params: {
        modularSlug: slug,
      },
      props: {page}
    }
  });
};

const {page} = Astro.props;
---

<Layout title={page.meta.title} lang={page.__i18n_lang}>
  <div class="stack-xl-2xl">
    {page.blocks && page.blocks.map(block => {
      const type = block._type;
      const Component = Components[type];

      if (Component === undefined) {
        return <p>No component specified for `{type}`</p>;
      }

      let attributes = {lang: page.__i18n_lang, slug: page.meta.slug.current};

      return <Component {...block} {...attributes}></Component>
    })}
    <details>
      <summary>data</summary>
      <pre>{JSON.stringify(page, null, 2)}</pre>
    </details>
    </div>
</Layout>
