---
import '../css/main.scss'

import { getSanityData } from '../lib/sanity';
import { globalSettings } from '../lib/queries';

import Navigation from '../components/Navigation.astro';

const { title, lang } = Astro.props;

const home = lang === 'de' ? '/' : '/en/';

const globalData = await getSanityData({query: globalSettings, params: { $lang: lang }});
const { nav } = globalData;
---

<!DOCTYPE html>
<html {lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation navItems={nav} home={home}></Navigation>
		<main>
			<slot />
		</main>
	</body>
	<!-- <script type="module">

		const imported = {};
		let observer = new IntersectionObserver((entries, observerRef) => {
			entries.forEach(async (entry) => {
				if (entry.isIntersecting) {
					const name = entry.target.nodeName.toLowerCase();
					observerRef.unobserve(entry.target);

					if (!imported[name]) {
						switch (name) {
							case 'sp-video':
								import('../../node_modules/@spartan-components/sp-video/sp-video.js')
								break;
							default:
								break;
						}
						imported[name] = true;
					}
				}
			});
		});

		// Observe all components with the desired class
		const els = document.querySelectorAll('sp-video');
		els.forEach((el) => {
			observer.observe(el);
		});
	</script> -->
</html>
