---
import Image from "../Image.astro";
import Icon from "../Icon.astro";
const {className, hideButton, id, videoId, pictureMediaSizes} = Astro.props;
---

<sp-video provider="youtube-nocookie" video-id={videoId} {id} class={className}>
  <div slot="thumbnail">
    <Image
      class="thumbnail"
      url={`https://img.youtube.com/vi/${videoId}/maxresdefault.jpg`}
      aspectRatio={16/9}
      sizes={pictureMediaSizes}
    />
  </div>
  <button class="breakout-button button button--light button--rounded" slot="controller"><Icon class="play-icon" name="play"/></button>
  <!-- Fallback for browsers that don't support custom elements, has to use class="fallback-link" -->
  <a
    href={`https://www.youtube.com/watch?v=${videoId}`}
    class="fallback-link"
    target="_blank"
    rel="noopener noreferrer"
  >
    Open video in new tab
  </a>
</sp-video>

<script>
  const SpVideo = import('@spartan-components/sp-video');

  customElements.define('sp-video', SpVideo);
</script>

<style lang="scss">
  .play-icon {
    position: relative;
    right: -2px;
  }

  sp-video {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    transition: 300ms ease;
    transition-property: transform;

    .thumbnail {
      position: absolute;
      inset: 0;
    }

    @media screen and (min-width: 600px) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
</style>