---
import Layout from '../layouts/Layout.astro'

import {getSanityData} from '../lib/sanity';
import {modularPages} from '../lib/queries';
import Section from '../components/Section.astro';
import VideoHero from '../components/VideoHero.astro';
import RichText from '../components/RichTextSection.astro';
import InternalCollection from '../components/InternalCollection.astro';

const Components = {
  section: Section,
  videoHero: VideoHero,
  richtext: RichText,
  internalCollection: InternalCollection,
}

export async function getStaticPaths() {
  const allModularPages = await getSanityData({query: modularPages});

  return allModularPages.map(page => {
    let { slug: { current: slug } } = page.meta;
    slug = slug === "/" ? undefined : slug.replace(/(^\/+)|(\/+$)/g, "");
    return {
      params: {
        modularSlug: slug,
      },
      props: {page}
    }
  });
};

const {page} = Astro.props;
---

<Layout title={page.meta.title} lang={page.__i18n_lang}>
  <div class="stack-xl-2xl">
    {page.blocks.map(block => {
      const type = block._type;
      const Component = Components[type];

      if (Component === undefined) {
        return <p>No component specified for `{type}`</p>;
      }

      return <Component {...block} lang={page.__i18n_lang}></Component>
    })}
    <details>
      <summary>data</summary>
      <pre>{JSON.stringify(page, null, 2)}</pre>
    </details>
    </div>
</Layout>
