---
import MusicProviders from './MusicProviders.astro';
import Icon from './Icon.astro';

import Image from './Image.astro';
import {t} from '../lib/translations';
import { removeMultiSlash } from '../lib/utils';

const {
  artwork,
  lang,
  meta,
  providers,
  releaseDate,
  tracks,
  type,
} = Astro.props;
---

<div class="release">
  <Image
    class="rounded"
    image={artwork}
    sizes="(max-width: 800px) calc(100vw - 2rem), 255px"
  />
  <div class="content">
    <div class="stack-s">
      <div>
        <p class="uppercase">
          {type}
          &middot; {(new Date(releaseDate)).getFullYear()}
          &middot; {tracks.items.length} {tracks.items.length === 1 ? 'Song' : 'Songs'}</p>
        <h3>{meta.title}</h3>
      </div>
      <MusicProviders
        appleMusic={providers.highlighted.appleMusic}
        lang={lang}
        spotify={providers.highlighted.spotify}
        youtubeMusic={providers.highlighted.youtubeMusic}
      />
    </div>
    <a
      href={removeMultiSlash(meta.slug.current)}
      class="breakout-link"
      title={t('learnMore', lang, 'capitalize')}
    >
      <Icon size={36} name="chevron" />
    </a>
  </div>
</div>

<style lang="scss" is:global>
  .release {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    position: relative;
    margin-inline-end: -1em;
    padding-inline-end: 1em;

    picture {
      flex-basis: 12em;
      flex-grow: 1;
      margin-inline: auto;
      max-width: 20em;
      z-index: 1;

      img {
        width: 100%;
      }
    }

    .content {
      align-items: center;
      display: flex;
      flex-basis: 0;
      flex-grow: 999;
      justify-content: center;
      min-inline-size: 50%;

      div:first-child {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
      }
    }

    .breakout-link {
      flex-shrink: 0;
    }
  }
</style>
