---
import {toHTML} from '@portabletext/to-html'
import SpVideo from './webcomponents/SpVideo.astro';
import getYoutubeId from 'get-youtube-id';
import Button from './Button.astro';
import Icon from './Icon.astro'
import Release from './Release.astro';
import ProductVariant from './ProductVariant.astro';
import InternalCollection from './InternalCollection.astro';
import Milestone from './Milestone.astro';

const Components = {
  productVariant: ProductVariant,
  release: Release,
  video: SpVideo,
  internalCollection: InternalCollection,
  milestone: Milestone
};

const {
  blocks,
  cta,
  description,
  lang,
  layout: {
    columns,
    gap
  },
  renderTitle,
  slug,
  title,
} = Astro.props;

const columnsClass = columns && `grid--${columns}-columns`;
const gapClass = gap && `grid--gap-${gap}`;
const center = !blocks.every(block => block._type === 'milestone') && 'center';

let pictureMediaSizes;

if (columns) {
  pictureMediaSizes =
    columns === 3 ? '(max-width): calc(100vw - 2em), 400px' :
    columns === 2 ? '(max-width): calc(100vw - 2em), 600px' :
    '(max-width): calc(100vw - 2em), 1200px';
}

---

<section class="stack-m">
  { (renderTitle || description) &&
    <div class="center stack-xs">
      {renderTitle && <h2>{title}</h2>}
      {description && <div class="narrow"><Fragment set:html={toHTML(description)} /></div> }
    </div>
  }

  { blocks &&
    <div class:list={[center, 'grid', columnsClass, gapClass]}>
      {blocks.map(block => {
        const type = block._type;
        const Component = Components[type];
        
        if (Component === undefined) {
          return <p>No component specified for `{type}`</p>;
        }

        let attributes = {lang, slug};

        if (type === 'video') {
          attributes['videoId'] = getYoutubeId(block.url)
        }

        return <Component {...block} {...attributes}></Component>
      })}
    </div>
  }

  { cta &&
    <div class="center right-aligned">
      <Button href={cta.slug}>{cta.title}<Icon name="chevron" /></Button>
    </div>
  }
</section>
