---
import RichText from "./RichText.astro";
import Button from "./Button.astro";
import Icon from './Icon.astro';
import SpVideo from './webcomponents/SpVideo.astro';
import MuxVideo from './webcomponents/MuxVideo.astro';
import getYoutubeId from 'get-youtube-id';

const {
  backgroundImage,
  muxvideo,
  cta,
  description,
  lang,
  title,
  video
} = Astro.props;

const { playbackId } = muxvideo.asset;

---

<section class="video-hero backdrop-gradient">
  <MuxVideo
    autoplay
    height={muxvideo.asset.data.tracks[0].max_height}
    loop
    muted
    poster={`https://image.mux.com/${playbackId}/thumbnail.jpg?width=800`}
    playbackId={playbackId}
    playsinline
    width={muxvideo.asset.data.tracks[0].max_width}
    ></MuxVideo>
  <div class="pin center-v content">
    <div class="center stack-m">
      <div class="stack-xs">
        <h1>{title}</h1>
        <RichText content={description} />
      </div>
      <Button id="load-video" href="#video-frame"><Icon name="play" />{cta}</Button>
    </div>
  </div>
</section>


<SpVideo {lang} class="center" videoId={getYoutubeId(video.url)} id="video-frame" />

<style lang="scss" is:global>
  .video-hero {
    margin-bottom: -4em;
    margin-top: -1em;
    position: relative;
    z-index: 0;

    p {
      font-size: var(--step-1);
      font-weight: bold;
      opacity: 0.8;
      max-width: 30ch;
    }

    .content {
      margin-top: -4em;
      z-index: 1;
    }
  }

  #video-frame {
    margin-bottom: var(--space-xs);
    &, & + * {
      margin-block-start: 0;
    }
  }

  @supports selector(:target) {
    #video-frame {
      display: none;
      &:target {
        display: block;
      }
    }
  }

  @media (max-width: 760px) {
    .pin {
      position: relative;
    }

    video {
      margin-bottom: var(--space-s);
    }

    #video-frame {
      padding-inline: 0;
    }

    .video-hero {
      margin-bottom: var(--space-l);

      .content {
        margin-top: 0;
      }
    }
  }
</style>

<script>
  const button = document.querySelector('#load-video');

  if(button) {
    const video = document.querySelector('#video-frame');
    button.addEventListener('click', () => video.setAttribute('video-loaded', ''));
  }
</script>
