---
import SpVideo from './webcomponents/SpVideo.astro';
// import Image from "./Image.astro";
// import Icon from "./Icon.astro";
const {class: className, hideButton, id, videoId, pictureMediaSizes} = Astro.props;
---

<SpVideo {className} {id} {videoId} {pictureMediaSizes}></SpVideo>

<!-- <sp-video provider="youtube-nocookie" video-id={videoId} {id} class={className}>
  <div slot="thumbnail">
    <Image
      class="thumbnail"
      url={`https://img.youtube.com/vi/${videoId}/maxresdefault.jpg`}
      aspectRatio={16/9}
      sizes={pictureMediaSizes}
    />
  </div>
  <button class="breakout-button button button--light button--rounded" slot="controller"><Icon class="play-icon" name="play"/></button>
  <a
    href={`https://www.youtube.com/watch?v=${videoId}`}
    class="fallback-link"
    target="_blank"
    rel="noopener noreferrer"
  >
    Open video in new tab
  </a>
</sp-video> -->


